<template>
<div>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; <a href="https://bitnob.com" title="Bitnob.com">Bitnob.com</a> 2018
      </div>
    </footer>
</div>
</template>
<script>
export default {
    name: 'Footer',

    data() {
        return {

        }
    },
}
</script>
<style>

</style>
