<template>
<div>
  <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Buy Vouchers</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">
              Choose >> Pay >> Receive by E-mail. <br/>
              Simple, Fast, and Secure.
              </h2>
          <a href="#cards" class="btn btn-primary js-scroll-trigger">Get Started</a>
        </div>
      </div>
    </header>
    
<section id="cards" class="about-section text-center">
<h2 class="text-info text-center">{{header}}</h2> <br/>
<div v-for="business in businesses" :key="business.id">
    <div class="col-md-10 col-lg-8 col-sm-10 col-xs-12 mx-auto">
<div class="card">
  <div class="card-header">
        <h5 class="card-title"><img src="https://bitnob.com/img/favicon.ico"> {{business.name}}</h5>
  </div>
  <div class="card-body">
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <router-link to='/complete_form'><button class="btn btn-primary">Buy Voucher</button></router-link>
    <!-- <a href="" class="btn btn-primary">Buy Voucher</a> -->
  </div>
</div>
</div>
<br/> <br/> <br/>

</div>
</section>
    </div>
</template>
<script>
import { resourceUrl } from '../config';
export default {
    name: 'Home',
    data() {
        return {
        header: 'Vouchers Available ...',
        businesses: [],
        brands: [
        'success',
        'primary',
        'info',
        'default',
        'warning',
         ],
        }
    },

    methods: {
    },
     created() {      
      this.$http.get('http://127.0.0.1:8000/api/v1/users_business_units/')
      .then(res => {
        this.businesses = res.body
      }, error => {
        console.log(res.data)
      })
    },
}
</script>

<style>

</style>

