<template>
  <div id="app">
  <app-header></app-header>
  <router-view></router-view>
  <app-footer></app-footer>
    <!-- <font-awesome-icon icon="envelope-open" /> -->
  </div>
</template>

<script>
import Header from './components/layouts/header.vue';
import Footer from './components/layouts/footer.vue';
export default {
  name: 'app',
  components: {
   'app-header': Header,
   'app-footer': Footer,
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  methods: {
  }
}
</script>

<style lang="scss">

</style>
